a {
  color: var(--electron-bright);
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color: var(--electron-bright);
  border: .1rem solid var(--electron-bright);
}

.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline {
  color: var(--electron-bright);
}

.button.button-clear, button.button-clear, input[type='button'].button-clear, input[type='reset'].button-clear, input[type='submit'].button-clear {
  color: var(--electron-bright);
}

.button[disabled]:focus, .button[disabled]:hover, button[disabled]:focus, button[disabled]:hover {
  border-color: var(--electron-tuned);
  background: unset;
}

pre.prettyprint .lit {
  color: var(--electron-bright);
}

.share-icon {
  background-color: var(--electron-bright);
  color: white;
}

pre {
  background: #f4f5f6;
  border-left: .3rem solid var(--electron-bright);
}

pre.prettyprint {
  border-left: .3rem solid var(--electron-bright) !important;
  color: #655d5d;
}

pre.prettyprint .tag {
  color: var(--electron-bright);
}

pre.prettyprint .atn {
  color: #0065ce;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
  border: .1rem solid var(--electron-bright);
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="var(--electron-bright)" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>')
}

.github-corner {
  color: #f4f5f6;
  fill: var(--electron-bright);
}