@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto/Roboto-Regular.ttf) format('woff2');
}

:root {
  --electron-bright: #9feaf9;
  --electron-tuned: #6798a2;
  --electron-background-2: #39424e;
  --electron-background: #2f3241;
  --electron-dark: #1e2527;
}

html, body {
  padding: 0;
  margin: 0;
  background: var(--electron-background);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

header {
  min-height: 40px;
  border-bottom: 1px solid var(--electron-dark);
  margin-bottom: 10px;
  background-color: var(--electron-background-2);
  -webkit-app-region: drag;
}

#editors {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  flex-grow: 1;
}

.editor {
  flex-grow: 1;
  width: 33%;
}

#runner {
  height: 0;
}

#runner:not(:empty) {
  height: 200px;
}

.output {
  font-size: 12px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
  font-weight: 600;
  color: #f3f3f3;
  background: rgba(0,0,0, .4);
  top: 10vh;
  padding: 0;
  padding-left: 10px;
  margin-top: 0;
  height: 0;
  overflow: scroll;
  transition: height .2s;
  transition: padding .2s;
  -webkit-app-region: no-drag;
}

.output.showing {
  margin-top: 10px;
  padding-top: 10px;
  height: 200px;
}

.output p {
  margin-bottom: 0;
  white-space: pre;
}

.output .timestamp {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
}

.editorTitle span {
  width: 33%;
  display: inline-block;
  text-align: center;
  font-size: 12px;
}

.commands {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding-top: 12px;
}

.commands button {
  background-color: #9feaf9;
  border: none;
  color: #1e2527;
  padding: 0px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-app-region: no-drag;
  height: 28px;
  line-height: 4px;
}

.commands button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);
}

.commands button:focus {
  background-color: #9feaf9;
}

.commands > div:first-of-type > button {
  margin-left: 80px;
}

.commands > div:last-of-type > button {
  margin-left: 5px;
}

.commands > div:last-of-type {
  margin-right: 10px;
}

.commands select {
  width: 100px;
  font-size: 12px;
  height: 28px;
  background-color: white;
  margin-left: 5px;
  line-height: 15px;
}

.tokenDialog {
  position: absolute;
  top: 100px;
  width: 300px;
  height: 170px;
  left: calc(50% - (300px / 2));
  padding: 10px 20px;
  z-index: 1000;
  background-color: var(--electron-background-2);
  border: 1px solid var(--electron-dark);
  color: #f3f3f3;
}

.generateTokenText svg {
  margin-right: 4px;
}

.tokenDialog button {
  color: #1e2527;
}

.tokenDialog a {
  cursor: pointer;
}

.tokenDialog input {
  width: 250px;
  color: rgba(159, 234, 249, 0.5);
  height: 28px;
  margin-top: 10px;
  background-color: var(--electron-background);
  border: 1px solid var(--electron-dark);
  outline: 0 solid transparent;
}