@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto/Roboto-Regular.ttf) format('woff2');
}

:root {
  --electron-bright: #9feaf9;
  --electron-tuned: #6798a2;
  --electron-background-2: #39424e;
  --electron-background: #2f3241;
  --electron-dark: #1e2527;
  --default-fonts: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  background: var(--electron-background-2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--default-fonts);
}

header {
  min-height: 50px;
  border-bottom: 1px solid var(--electron-dark);
  background-color: var(--electron-background);
  -webkit-app-region: drag;
}

#editors {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.editor {
  flex-grow: 1;
  width: 30%;
}

.resize {
  width: 6px;
  background: rgba(0, 0, 0, 0.2);
  margin-left: 9px;
  margin-right: 0;
  cursor: col-resize;
  flex-grow: 0;
  flex-shrink: 0;
}

#runner {
  height: 0;
}

#runner:not(:empty) {
  height: 200px;
}

.output {
  font-size: 12px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
  font-weight: 600;
  color: #f3f3f3;
  background: rgba(0,0,0, .4);
  top: 10vh;
  padding: 0;
  padding-left: 10px;
  margin-top: 0;
  height: 0;
  overflow: scroll;
  transition: height .2s;
  transition: padding .2s;
  -webkit-app-region: no-drag;
}

.output.showing {
  margin-top: 10px;
  padding-top: 10px;
  height: 200px;
}

.output p {
  margin-bottom: 0;
  white-space: pre;
}

.output .timestamp {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
}

.editorTitle span {
  width: 33%;
  display: inline-block;
  text-align: center;
  font-size: 12px;
}

.dialogDrop {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  transition: opacity 0.4s ease-in-out;
}

.dialogDrop.dialogDropVisible {
  pointer-events: all;
  opacity: 0.5;
}

.tokenDialog {
  position: absolute;
  z-index: 2;
  top: 60px;
  width: 300px;
  min-height: 170px;
  padding: 10px 20px;
  z-index: 1000;
  background-color: var(--electron-background-2);
  border: 1px solid var(--electron-dark);
  color: #f3f3f3;
  border-radius: 6px;
  left: -10000px;
  opacity: 0;
  transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.tokenDialog.tokenDialogVisible {
  left: calc(50% - (300px / 2));
  opacity: 1;
  top: 100px;
}

.generateTokenText svg {
  margin-right: 4px;
}

.tokenDialog .tokenSpinner {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tokenDialog button {
  color: #1e2527;
  float: right;
}

.tokenDialog a {
  cursor: pointer;
}

.tokenDialog input {
  width: 250px;
  color: rgba(159, 234, 249, 0.5);
  height: 28px;
  margin-top: 10px;
  background-color: var(--electron-background);
  border: 1px solid var(--electron-dark);
  outline: 0 solid transparent;
}

.tokenDialog input:focus {
  border-color: var(--electron-bright);
}

.tokenDialog input.hasError {
  border-color: #df3434;
}

.mosaic {
  height: 100vh;
}