.settings {
  background: var(--electron-background-2);
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100vw;
  display: flex;
  user-select: none;
  cursor: initial;
}

.settings h1,
.settings h2,
.settings h3,
.settings h4,
.settings h5 {
  color: white;
  cursor: initial;
}

.settings label {
  font-weight: 200;
}

.settings-content {
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow: scroll;
  color: rgb(230, 230, 230);
}

.settings-menu {
  height: 100%;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.25);
  user-select: none;
}

.settings-menu ul {
  list-style: none;
  padding: 20px;
}

.settings-menu li {
  padding-bottom: 5px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, .8);
}

.settings-menu li.selected {
  color: var(--electron-bright);
}

.settings-menu li:hover {
  padding-bottom: 5px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.settings-section {
  margin-bottom: 20px;
}

.settings-section:last-of-type {
  margin: 0 0 0 0;
}

.settings .electron-versions-table button {
  margin: 0;
  min-width: 250px;
}

.settings .electron-versions-table .action {
  text-align: center;
  width: 250px;
}

.settings .contributors {
  display: flex;
  flex-wrap: wrap;
}

.settings .contributor {
  width: 320px;
  height: 120px;
  background: rgba(255, 255, 255, .1);
  padding: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.settings .contributor:hover {
  background: rgba(255, 255, 255, .15);
}

.settings .contributor .avatar {
  height: 100px;
  width: 100px;
  background-size: contain;
  margin-right: 10px;
}

.settings .contributor h5,
.settings .contributor p {
  margin-bottom: 0;
}

.settings .contributor .details {
  max-width: 190px;
  overflow: scroll;
}

.settings .settings-close {
  position: fixed;
  right: 30px;
  height: 25px;
  width: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  color: rgb(230, 230, 230);
}

.settings .settings-close:hover {
  color: white;
}

.settings .settings-close svg {
  background: var(--electron-background-2);
  box-shadow: 0 0 12px 6px var(--electron-background-2);
}