@import (inline) "~@blueprintjs/core/lib/css/blueprint.css";
@import (inline) "~@blueprintjs/select/lib/css/blueprint-select.css";
@import (inline) "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import (inline) "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~@blueprintjs/core/lib/less/variables.less";

// Override some of the colors
.fiddle.bp4-dark {
  .bp4-menu,
  .bp4-popover2 .bp4-popover2-content {
    background-color: @background-1;
  }

  .bp4-popover2 .bp4-popover2-arrow-fill {
    fill: @background-1;
  }

  .bp4-button:not([class*="bp4-intent-"]) {
    background-color: @background-1;
  }

  .bp4-button.bp4-minimal {
    background-color: unset;
  }

  .bp4-button:hover,
  .bp4-button.bp4-minimal:hover {
    background-color: rgba(138, 155, 168, 0.15);
  }

  .bp4-menu-item.bp4-active.bp4-intent-primary {
    background-color: @foreground-3;
  }

  .bp4-dialog {
    background-color: @background-4;

    .bp4-dialog-header {
      background-color: @background-3;
    }
  }

  .bp4-running-text {
    font-size: 14px;
  }

  .bp4-alert-contents {
    width: 100%;
  }
}
