// Colors
@electron-brighter: #9FEAFA;
@electron-bright: #8AC7D6;
@electron-tuned: #608291;
@electron-background-3: #2C2E3B;
@electron-background-2: #4B6672;
@electron-background: #2f3241;
@electron-dark: #1e2527;
@default-border-color: rgba(255, 255, 255, .1);
@default-border: 1px solid @default-border-color;

// Fonts
@default-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Lengths
@header-height: 50px;
