name: Build

# Called from ci
on:
  workflow_call:

jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15-intel
          - ubuntu-latest
          - windows-latest
        arch:
          - x64
        include:
          - os: macos-latest
            arch: arm64
          - os: ubuntu-24.04-arm
            arch: armv7l
    runs-on: '${{ matrix.os }}'
    steps:
      - run: git config --global core.autocrlf input
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          cache: 'yarn'
      - name: Install dependencies
        run: yarn --immutable
      - run: yarn run contributors
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: yarn run electron-releases
      # Artifacts generated are unsigned
      - name: Run Forge makers
        run: yarn run make
