name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    permissions:
      contents: read
    uses: ./.github/workflows/test.yml
  build:
    permissions:
      contents: read
    uses: ./.github/workflows/build.yml
  gha-done:
    name: GitHub Actions Completed
    runs-on: ubuntu-latest
    needs: [test, build]
    if: always() && !contains(needs.*.result, 'failure')
    steps:
      - name: GitHub Actions Jobs Done
        run: |
          echo "All GitHub Actions Jobs are done"
