name: Release

on:
  push:
    tags:
      - 'v*'

permissions: {}

jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15-intel
          - ubuntu-latest
          - windows-latest
        arch:
          - x64
        include:
          - os: macos-latest
            arch: arm64
          - os: ubuntu-24.04-arm
            arch: armv7l
          - os: ubuntu-24.04-arm
            arch: arm64
          - os: windows-latest
            arch: ia32
    runs-on: "${{ matrix.os }}"
    permissions:
      actions: write
      contents: read
    environment: release
    steps:
      - run: git config --global core.autocrlf input
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
      - run: yarn install --immutable
      - run: yarn run contributors
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: yarn run electron-releases
      - name: Install dependencies (Linux)
        if: ${{ startsWith(matrix.os, 'ubuntu-') }}
        run: sudo apt-get update && sudo apt install rpm squashfs-tools
      - name: Load certificates (macOS)
        if: ${{ startsWith(matrix.os, 'macos-') }}
        env:
          MACOS_CERT_P12: ${{ secrets.MACOS_CERT_P12 }}
          MACOS_CERT_PASSWORD: ${{ secrets.MACOS_CERT_PASSWORD }}
        run: chmod +x tools/add-macos-cert.sh && . ./tools/add-macos-cert.sh
      - name: Signing Manager Setup (Windows)
        if: ${{ startsWith(matrix.os, 'windows-') }}
        uses: digicert/ssm-code-signing@fb61e357690ad6aaa11c372000c37fb74d35c000 # v1.1.1
      - name: Write authentication cert to disk (Windows)
        if: ${{ startsWith(matrix.os, 'windows-') }}
        shell: bash
        env:
          SM_CLIENT_CERT_P12_BASE64: ${{ secrets.SM_CLIENT_CERT_P12_BASE64 }}
        run: | 
          echo "$SM_CLIENT_CERT_P12_BASE64" | base64 --decode > /d/cert.p12
          echo "SM_CLIENT_CERT_FILE=D:\\cert.p12" >> "$GITHUB_ENV" 
      - name: Sync cert (Windows)
        if: ${{ startsWith(matrix.os, 'windows-') }}
        shell: cmd
        env:
          CERT_FINGERPRINT: ${{ secrets.CERT_FINGERPRINT }}
          KEYPAIR_ALIAS: ${{ secrets.KEYPAIR_ALIAS }}
          SM_API_KEY: ${{ secrets.SM_API_KEY }}
          SM_CLIENT_CERT_FILE: ${{ env.SM_CLIENT_CERT_FILE }}
          SM_CLIENT_CERT_PASSWORD: ${{ secrets.SM_CLIENT_CERT_PASSWORD }}
          SM_HOST: ${{ secrets.SM_HOST }}
        run: |
          smksp_registrar list
          smctl windows certsync --keypair-alias=%KEYPAIR_ALIAS%
      - name: Build (macOS)
        if: ${{ startsWith(matrix.os, 'macos-') }}
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
        run: yarn run publish --arch=${{ matrix.arch }} --dry-run
      - name: Build (Windows)
        if: ${{ startsWith(matrix.os, 'windows-') }}
        env:
          CERT_FINGERPRINT: ${{ secrets.CERT_FINGERPRINT }}
          KEYPAIR_ALIAS: ${{ secrets.KEYPAIR_ALIAS }}
          SM_API_KEY: ${{ secrets.SM_API_KEY }}
          SM_CLIENT_CERT_FILE: ${{ env.SM_CLIENT_CERT_FILE }}
          SM_CLIENT_CERT_PASSWORD: ${{ secrets.SM_CLIENT_CERT_PASSWORD }}
          SM_HOST: ${{ secrets.SM_HOST }}
        run: yarn run publish --arch=${{ matrix.arch }} --dry-run
      - name: Build (Linux)
        if: ${{ startsWith(matrix.os, 'ubuntu-') }}
        run: yarn run publish --arch=${{ matrix.arch }} --dry-run
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: build-artifacts-${{ matrix.os }}-${{ matrix.arch }}
          path: out
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: ${{ startsWith(matrix.os, 'ubuntu-') && matrix.arch == 'x64' }}
        with:
          name: webpack-source-maps
          path: .webpack
          include-hidden-files: true

  test:
    permissions:
      contents: read
    uses: ./.github/workflows/test.yml

  release:
    name: Release
    runs-on: ubuntu-latest
    needs:
      - build
      - test
    environment: release
    permissions:
      contents: read
      id-token: write
    steps:
      - run: git config --global core.autocrlf input
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '22.17.x'
      - run: yarn install --immutable
      - name: Download All Artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: out
          pattern: build-artifacts-*
          merge-multiple: true
      - name: Get GitHub app token
        id: secret-service
        uses: electron/secret-service-action@3476425e8b30555aac15b1b7096938e254b0e155 # v1.0.0
      - name: Publish to GitHub
        env:
          GITHUB_TOKEN: ${{ fromJSON(steps.secret-service.outputs.secrets).GITHUB_TOKEN }}
        run: yarn run publish --from-dry-run

  notify-sentry-deploy:
    name: Notify Sentry Deploy
    runs-on: ubuntu-latest
    needs: release
    permissions:
      actions: read
    steps:
      - name: Download source maps artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: webpack-source-maps
          path: .webpack
      - uses: getsentry/action-release@128c5058bbbe93c8e02147fe0a9c713f166259a6 # v3.4.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: electronjs
          SENTRY_PROJECT: electron-fiddle
        with:
          environment: production
          release: Electron-Fiddle@${{ github.ref_name }}
          sourcemaps: ./.webpack/
          url_prefix: '~/.webpack'
