name: Test

on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15-intel
          - ubuntu-latest
          - windows-latest
        arch:
          - x64
        include:
          - os: macos-latest
            arch: arm64
          - os: ubuntu-24.04-arm
            arch: armv7l
    runs-on: "${{ matrix.os }}"
    steps:
      - run: git config --global core.autocrlf input
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          cache: 'yarn'
      - name: Install dependencies
        run: yarn --immutable
      - run: yarn run contributors
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: yarn run electron-releases
      - name: Lint and format
        run: yarn run lint && yarn run format
      - name: Test
        run: yarn tsc && yarn test:ci

  gha-done:
    name: GitHub Actions Completed
    runs-on: ubuntu-latest
    needs: [test]
    if: always() && !contains(needs.*.result, 'failure')
    steps: 
    - name: GitHub Actions Jobs Done
      run: |
        echo "All GitHub Actions Jobs are done"
