# Called during ci and release
name: Test

on:
  workflow_call:

jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15-intel
          - ubuntu-latest
          - windows-latest
        arch:
          - x64
        include:
          - os: macos-latest
            arch: arm64
          - os: ubuntu-24.04-arm
            arch: armv7l
    runs-on: '${{ matrix.os }}'
    steps:
      - run: git config --global core.autocrlf input
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: 'yarn'
      - name: Install dependencies
        run: yarn --immutable
      - run: yarn run contributors
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: yarn run electron-releases
      - name: Lint and format
        run: yarn run lint && yarn run format
      - name: Test
        run: yarn tsc && yarn test:ci
